<!DOCTYPE html>
<html lang="en" class="page">
<head>
    <meta charset="UTF-8">
    <title>Achievements list</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="page__body">
    <section class="page__container">
        <ul class="achievements">
        {{#each achievements}}
            <li class="achievements__item">
                {{#if this.style}}
                    <div class="achievement achievement_style_{{this.style}}">
                {{else}}
                    <div class="achievement">
                {{/if}}
                    <div class="achievement__index-container">
                        <span class="achievement__index"></span>
                    </div>
                    <div class="achievement__inner">
                        <img class="achievement__image" src="{{ this.image }}" alt="{{ this.alt }}">
                    </div>
                </div>
            </li>
        {{/each}}
        </ul>
    </section>
</body>
</html>
