$themes-colors: (
  default: #888,
  green: #84c66a,
  purple: #b088b2,
  blue: #759dce,
  orange: #ffc219,
  red: #ff6e60,
  brown: #d87f49
);

$themes-backgrounds: (
  default: background-by-border-color(map-get($themes-colors, default)),
  green: background-by-border-color(map-get($themes-colors, green)),
  purple: background-by-border-color(map-get($themes-colors, purple)),
  blue: background-by-border-color(map-get($themes-colors, blue)),
  orange: background-by-border-color(map-get($themes-colors, orange)),
  red: background-by-border-color(map-get($themes-colors, red)),
  brown: background-by-border-color(map-get($themes-colors, brown)),
)
