$block: 'achievement';

$achievement-size: 100px;
$achievement-border-size: 5px;
$achievement-index-size: 36px;
$achievement-index-offset: 2px;
$achievement-index-border-size: 4px;
$achievement-image-size: 48px;

@mixin achievement-style($type) {
  &_style_#{$type} {
    background-color: map-get($themes-colors, $type);

    .#{$block}__inner {
      background-color: map-get($themes-backgrounds, $type);
    }

    .#{$block}__index-container {
      border-color: map-get($themes-colors, $type);
      background-color: map-get($themes-backgrounds, $type);
    }

    .#{$block}__index-container:before {
      color: shade(map-get($themes-colors, $type), 20%);
    }
  }
}

.#{$block} {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  width: $achievement-size;
  height: $achievement-size;
  background: map-get($themes-colors, default);
  border-radius: 50%;

  // modifiers
  @include achievement-style(green);
  @include achievement-style(purple);
  @include achievement-style(blue);
  @include achievement-style(orange);
  @include achievement-style(red);
  @include achievement-style(brown);

  &__inner {
    position: relative;
    z-index: 1;
    top: $achievement-border-size;
    left: $achievement-border-size;
    display: flex;
    width: $achievement-size - 2 * $achievement-border-size;
    height: $achievement-size - 2 * $achievement-border-size;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: map-get($themes-backgrounds, default);
  }

  &__image {
    display: block;
    width: $achievement-image-size;
    height: $achievement-image-size;
  }

  &__index-container {
    position: absolute;
    right: -$achievement-index-offset;
    bottom: -$achievement-index-offset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $achievement-index-size;
    height: $achievement-index-size;
    border: $achievement-index-border-size solid map-get($themes-colors, default);
    border-radius: 50%;
    background-color: map-get($themes-backgrounds, default);

    &:before {
      position: relative;
      font-size: 17px;
      line-height: 17px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: shade(map-get($themes-colors, default), 20%);
      z-index: 2;
      content: counter(achievement);
    }
  }
}
