$block: 'achievements';

.#{$block} {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  counter-reset: achievement;

  &__item {
    margin: 10px;
    counter-increment: achievement;
  }
}
